<%= provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	Aggieland is published by <a href = "http://studentlife.tamu.edu/studentmedia">Student Media</a>, a unit of Student Life in the Division of Student Affairs. It is distributed in the fall but is a year-round project documenting school activities. It is one of the nation's largest college yearbooks.
</p>
<p>
	It is written, edited and produced by students and offers excellent opportunities to gain valuable experience for journalistic and related careers. Participation is not limited to any course of study or classification, but rather is open to all interested students. Student editors, writers and other staff members receive salaries commensurate with their duties and responsibilities.
</p>