<% provide(:title,'Admin') %>
<h1>Admin Settings</h1>

<div class="staff_management">
	<h2>Staff management</h2>
	<%= link_to "Create Staffer", signup_path, class: "btn btn-large btn-primary", style:"color:white" %>
	
</div>

<div class="meeting_management">
	<h2>Meeting management</h2>
	<%= link_to "Create meeting", new_meeting_path, class: "btn btn-large btn-primary", style:"color:white"%>
</div>
<div class="homepage_management">
	<h2>Homepage management</h2>
	<h3>Update homepage</h3>
	<%= render 'homepage_update_form' %>
</div>
