<% provide(:title,'Awards') %>
<h1>Among the nation's best</h1>
<p>
	2010 College Yearbook Silver Crown<br>
	2009 College Yearbook Silver Crown<br>
	2008 College Yearbook Silver Crown<br>
	2006 College Yearbook Silver Crown
</p>
<p>awarded by the Columbia Scholastic Press Association - one of college media's biggest awards</p>
<p>
	Thirteen 2011 Gold Circles<br>
	Nineteen 2010 Gold Circles<br>
	Twelve 2009 Gold Circles<br>
	Thirteen 2008 Gold Circles<br>
	Two 2006 Gold Circles
</p>
<p>presented by the Columbia Scholastic Press Association, the awards recognize the nation's best student journalists</p>
<p>
	2009 Pacemaker Award<br>
	2006 Pacemaker Finalist Award<br>
	2004 Pacemaker Finalist Award<br>
	2000 Pacemaker Finalist Award
</p>
<p>given by the Associated Collegiate Press in recognition of general excellence and outstanding achievement by a college yearbook in a national competiton - generally accepted to be the higher education equivalent to the Pulitzer Prize</p>
