<%= provide(:title, 'Contact') %>
<h1>Contact Us</h1>
<h2 class="sub_contact">Mailing Address:</h2>
	<p>Aggieland Yearbook</p> 
	<p>1111 TAMU </p>
	<p>College Station, TX 77843-1111</p>
<h2 class="sub_contact">Phone and Email:</h2>
	<p>979-845-2681 (Editor in Chief)</p>
	<p>979-845-2696 (Order)</p>
	<p><a href="http://aggieland.yearbook@gmail.com">aggieland.yearbook@gmail.com</a></p>
	<p>The yearbook office is in the Memoral Student Center, Room L400.</p>
<h2 class="sub_contact">2012 Aggieland</h2>
<table cols="2" width="400" border="0">
	<tbody>
		<tr>
			<td>Editor in Chief:</td>
			<td> Kelbye Gaskill</td>
		</tr>
        <tr>
      		<td>Photo Editor:</td>
      		<td> Dustin O'Donnell</td></tr>
    </tbody>
</table>