<% provide(:title,'Employment') %>
<h1>Employment</h1>
<h2>If you are interested in editing, writing stories or taking pictures then you are encouraged to apply for aposition on Texas A&M's yearbook.</h2>
<ul>
	<li>Earn Extra Cash</li>
	<li>Gain Publications Experience</li>
	<li>Enhance your resume</li>
</ul>
<h2>Aggieland 2013 Staff</h2>
<p><em>The following positions are available:</em></p>
<p>Staff Positions:</p>
<a href="https://docs.google.com/document/d/1-RCQ93M6a4Nr_mGcjv0veGAmymQzRY_J10Z5WfuKRrs/edit">DOC</a>
<p>Photographer, Writer</p>
<p>Please <%= link_to 'download the application form here', '/AglandStaffApp.pdf' %>, print and fill it out. Type your responses to the additional questions on a separate sheet of paper that is to be turned in with the application form. Also, attach any samples of work that have along with a resume. Please drop your application materials off in Suite L400 Memorial Student Center.</p>