<% provide(:title,'FAQs') %>
<h1>FAQs</h1>
<p>
	<strong>How do I order a 2013 Aggieland yearbook?</strong><br>
	There are 4 ways to order a yearbook.<br>
	1. Choose the Aggieland fee option when registering for fall classes.<br>
	2. Click on Ordering to order online at Aggieland.tamu.edu.<br>
	3. Call our business office at (979) 845-2696, and order one by telephone with a credit card.<br>
	4. Come by the office in Suite L400 of the Memorial Student Center and pick up an order form.
</p>
<p>
	<strong>How much does the yearbook cost?</strong><br>
	If pre-ordered by April 1, 2013, the price of the 2013 yearbook is $75 (includes shipping and handling) plus tax.
</p>
<p>
	<strong>When can I pick up a yearbook I ordered?</strong><br>
	Yearbooks ordered for the 2011-2012 school year (the 2012 Aggieland) will be mailed in the fall of 2012.
</p>
<p>
	<strong>If I forgot to order a yearbook, can I still get one?</strong><br>
	The 2012 Aggieland (2011-2012 school year) may be pre-ordered online, and some older Aggielands are available. For availability of 	specific years, contact the business office at 979-845-2613.
</p>
<p>
	<strong>How do I get my group featured in the yearbook?</strong><br>
	Fill out a contract for your organization. Contracts are available in Suite L400 of the Memorial Student Center and on the contracts page. You can also call our office at (979) 845-2681 and request a contract to be sent to you.
</p>
<p>
	<strong>How do seniors get their picture in the book?</strong><br>
	Thornton Studio Photographers is in charge of taking senior and graduating graduate student portraits. Class of 2012 yearbook portraits were taken for the 2012 Aggieland yearbook in October 2011 and makeups were Feb. 13-20, 2012. Dates for the 2013 Aggieland will be announced in August 2012.
</p>
<p>
	<strong>Where is the Aggieland office?</strong><br>
	The Aggieland office is located in Suite L400 of the Memorial Student Center. Our phone number is (979) 845-2681.
</p>
<p>
	<strong>How can I join the Aggieland staff?</strong><br>
	Fill out an application and return it to Suite L400 of the Memorial Student Center. Applications are available online and in the office. One of our editors will get in touch with you after your submission of the application. Call 979-845-2681 for more information.
</p>