<% provide(:title,'Hall of Fame') %>
<%= link_to 'A Standing Tradition', history_path %>
<h1>Aggieland Editors since 1895</h1>
<table width="700" border="0" cellspacing="2px">
        <tbody><tr>
          <td valign="top"><div align="center"><span class="style3"><strong>OLIO</strong><br>
            1895<br>
            Editorial Staff<br>
  <br>
            <strong>LONGHORN </strong><br>
            1903<br>
            R.H. Mansfield<br>
  <br>
            1904<br>
            J. Worth Maxwell<br>
  <br>
            1905<br>
            O.L. Forsgard<br>
  <br>
            1906<br>
            J.R. Tabor<br>
  <br>
            1907<br>
            F. Hensel, Jr.<br>
  <br>
            1908<br>
            T.J. Beesley<br>
  <br>
            1909<br>
            D.M. Shearer<br>
  <br>
            1910<br>
            Edwin P. Arneson<br>
  <br>
            1911<br>
            C.H. Forsgard<br>
  <br>
            1912<br>
            R.L. Mangum<br>
  <br>
            1913<br>
            Editorial Staff<br>
  <br>
            1914<br>
            E.L. Tanner<br>
  <br>
            1915<br>
            J.R. Jarvis<br>
  <br>
            1916<br>
            Sylvan Blum Haynes<br>
  <br>
            1917<br>
            Banks George Moreland<br>
  <br>
            1918<br>
            George B. Morgan<br>
  <br>
            1919<br>
            John S. Stewart, Jr.<br>
  <br>
            1920<br>
            Kenneth Johnson Edwards<br>
  <br>
            1921<br>
            Bonner Herbert Barnes<br>
  <br>
            1922<br>
            Charles Wright Thomas<br>
  <br>
            1923<br>
            John C. Mayfield<br>
  <br>
            1924<br>
            Robert Miller Sherman<br>
  <br>
            1925<br>
            David B. Baxt<br>
  <br>
            1926<br>
            Andrew Jackson Longley<br>
  <br>
            1927<br>
            Oney Pinkney Puryear<br>
  <br>
            1928<br>
            Raymond Moore Bradford<br>
          </span></div></td>
          <td valign="top"><p align="center" class="style3">1929<br>
            James E. Gunn<br>
  <br>
            1930<br>
            Michel Thomas Halbouty<br>
  <br>
            1931<br>
            Edwin M. Moore<br>
  <br>
            1932<br>
            Alfred Otto Saenger<br>
  <br>
            1933<br>
            B.M. Gottlieb<br>
  <br>
            1934<br>
            Joseph William Dryden<br>
  <br>
            1935<br>
            Hugo Cullen Heldenfels<br>
  <br>
            1936<br>
            Charles Russell Carney, Jr.<br>
  <br>
            1937<br>
            John F. Younger<br>
  <br>
            1938<br>
            Sidney L. Loveless<br>
  <br>
            1939<br>
            Warren D. Barton<br>
  <br>
            1940<br>
            George W. Smith<br>
  <br>
            1941<br>
            Morton Robinson<br>
  <br>
            1942<br>
            Russell L. Heitkamp<br>
  <br>
            1943<br>
            John B. Longley<br>
  <br>
            1944<br>
            Marvin McMillan, Jr.<br>
  <br>
            1945<br>
            Marc B. Smith, Jr.<br>
  <br>
            1946<br>
            Robert B. MacCallum<br>
  <br>
            1947<br>
            Harry W. Saunders<br>
  <br>
            1948<br>
            Henry T. John<br>
          Bobby Williamson</p>
            <p align="center" class="style3">&nbsp;</p>
            <p align="center" class="style3">&nbsp;</p>
            <p align="center" class="style3"><strong>Aggieland </strong><br>
1949<br>
Truman G. Martin<br>
Earl Glenn Rose<br>
<br>
1950<br>
James R. Woodall<br>
Charles D. Cabaniss<br>
<br>
1951<br>
Roy D. Nance<br>
<br>
1952<br>
Bibb Underwood<br>
Bill McSpadden<br>
<br>
1953<br>
Guy Delaney<br>
Harvey Miller</p></td>
          <td valign="top"><div align="center" class="style3">1954<br>
            Allan H. Hohlt<br>
            Barent C. Dutcher<br>
  <br>
            1955<br>
            Harry G. Tilley<br>
            Lolan M. Pullen<br>
  <br>
            1956<br>
            Kurt Nauck<br>
  <br>
            1957<br>
            Don C. Burt<br>
  <br>
            1958<br>
            Roy B. Davis<br>
  <br>
            1959<br>
            Roderick D. Stepp<br>
  <br>
            1960<br>
            Marvin A. McCree<br>
  <br>
            1961<br>
            Richard V. McGaughy<br>
  <br>
            1962<br>
            Raleigh Coppedge<br>
  <br>
            1963<br>
            Weldon Nash<br>
  <br>
            1964<br>
            Chris Schaeffer<br>
  <br>
            1965<br>
            Wallace W. Migura<br>
  <br>
            1966<br>
            Robert S. Heger<br>
  <br>
            1967<br>
            James Creel<br>
  <br>
            1968<br>
            Ed Sommers<br>
  <br>
            1969<br>
            James Creel<br>
  <br>
            1970<br>
            Douglas Page<br>
  <br>
            1971<br>
            Jerry Boles<br>
  <br>
            1972<br>
            Henry J. Ostermann<br>
  <br>
            1973<br>
            Joe Arredondo<br>
  <br>
            1974<br>
            Sherri Ellis<br>
  <br>
            1975<br>
            Norman D. Chatman<br>
  <br>
            1976-77<br>
            Gary Baldasari<br>
  <br>
            1978<br>
            Norine L. Harris<br>
  <br>
            1979<br>
            John Patrick O'Malley<br>
            Marilou Tenhet<br>
  <br>
            1980<br>
            John Patrick O'Malley<br>
  <br>
          </div></td>
          <td valign="top"><p align="center" class="style3">1981<br>
M. Wayne Cook</p>
            <p align="center">&nbsp;</p>
            <p align="center" class="style3">1982<br>
            Diane Yount<br>
            </p>
            <p align="center">&nbsp;</p>
            <p align="center" class="style3">            1983<br>
            Donn Friedman</p>
            <p align="center">&nbsp;</p>
            <p align="center" class="style3">1984<br>
            Dena L. Brown<br>
            <br>
            1985<br>
            Vannell Lee<br>
            <br>
            1986<br>
            Elizabeth Kahanek-Martin<br>
            <br>
            1987<br>
            Molly Pepper<br>
            <br>
            1988<br>
            Joanie Pate<br>
            <br>
            1989<br>
            Cindy Milton<br>
            <br>
            1990-91<br>
            Paula S. McKnight<br>
            <br>
            1992<br>
            Kelly Sweeney<br>
            <br>
            1993<br>
            Donna Roth<br>
            <br>
            1994<br>
            Michelle Kaye<br>
            <br>
            1995-96<br>
            Diana Hodges<br>
            <br>
            1997<br>
            Eric Pargac<br>
            <br>
            1998<br>
            Amber Benson<br>
            <br>
            1999<br>
            Trisha Morelock<br>
            <br>
            2000<br>
            Alicen Swift<br>
            <br>
            2001<br>
            Jon Niven<br>
            <br>
            2002<br>
            Tamara Adams<br>
            <br>
            2003<br>
            Denise Bischofhausen<br>
            <br>
            2004<br>
            Heath Crawford<br>
            <br>
            2005<br>
            Laura Brenner<br>
            <br>
            2006<br>
            Beth Barron<br>
            <br>
            2007<br>
            Hayley Booth<br>
            <br>
            2008<br>
          Catherine Tepera<br>
            <br>
            2009<br>Alyssa Pena<br>
            <br>
            2010<br>Alyssa Pena Smith<br>
            <br>
            2011<br>Kalee Bumguardner</p></td>
        </tr>
      </tbody></table>