<% provide(:title,'History') %>
<%= link_to "Hall of Fame", hall_of_fame_path %>
<h1><span id=title>A Standing Tradition</span></h1>
      <p>&nbsp;
      </p>
      <p>Texas A&amp;M's yearbook has seen a lot of changes during its more than 100 years. When it was first published in 1895, Lawrence Sullivan Ross was still president of the Texas A&amp;M College, the city of College Station didn't exist and nobody knew what Aggie Bonfire was.</p>
      <p>&nbsp;</p>
      <p>Texas A&amp;M's first yearbook rolled off the presses after The Battalion ran several editorials calling for the creation of a college annual. Until that time, the June issue of The Battalion had played the role of college annual, printing articles and pictures that recapped the school year.</p>
      <p>&nbsp;</p>
     <!--  <p><img src="img/aggiehist.gif" alt="history" width="450" height="302" align="right"  style="padding-left:5px; padding-bottom:3px;"/></p> -->
      <p>The 1895 yearbook carried the name &quot;Olio,&quot; chosen by the editors because in England it was the name given to select collections of music and literature. The book had 133 pages and was dedicated to the cadets' mothers and fathers.</p>
      <p>&nbsp;</p>
      <p>In the Olio's introduction, the cadets offered a &quot;Public Explanation&quot; for the book's creation: &quot;Olio will serve both as a memento of our college days for future years and as a memorial of us to the classes which may follow.&quot;</p>
      <p>&nbsp;</p>
      <p>The cadets knew the significance of the yearbook they had created. They also knew the role such a book would play in their later lives as they took time out to reflect on their days at the A&amp;M College. They recorded these thoughts in the Olio's introduction.</p>
      <p>&nbsp;</p>
      <p>&quot;For in this volume we have brought together prose and verse, photographs, sketches, caricatures, history, biography, and nonsense, and so, long may it live.</p>
      <p>&nbsp;</p>
      <p>&quot;The Olio (is) a rehearsal of the important events of the year, a reminder of work accomplished, and a monument to commemorate the comradeship and brotherly feeling of those bound together by a tie soon to be broken, and never again to be united.&quot;</p>
      <p>&nbsp;</p>
      <p>The Olio had the usual collection of pictures of students, faculty, staff and organizations. Among the organizations was a photo of the Red Headed Club and the following explanation: &quot;All members shall be red headed, and the redness thereof shall determine his standing in the club.&quot;</p>
      <p>&nbsp;</p>
      <p>But the club wasn't around when the next yearbook came out - eight years later.</p>
      <p>&nbsp;</p>
      <p>This time the idea to publish a yearbook came from two women students, an English professor's twin daughters, who attended Texas A&amp;M as &quot;courtesy students.&quot;</p>
      <p>&nbsp;</p>
      <p>&quot;In the beginning of our senior year we mentioned to some of our classmates that we should get out an annual,&quot; said the sisters, Mary and Sophie Hutson, in a 1963 letter to a Texas A&amp;M archivist. &quot;We felt that our class was an exceptionally bright class. In fact, some of our professors had told us so.&quot;</p>
      <p>&nbsp;</p>
      <p>When the yearbook was published in 1903, it had a new name: the Long Horn.</p>
      <p>&nbsp;</p>
      <p>&quot;We suggested that they use the name of the only other annual the college had gotten out - the Olio - the one the Class of 1895 published,&quot; said the sisters. &quot;No one liked that name, and someone suggested The Long Horn, and so far as we can remember, no one suggested any other. We all agreed that was the proper name for the Long Horn state.&quot;</p>
      <p>&nbsp;</p>
      <p>The 1903 Long Horn included a &quot;gag&quot; section, a section on A&amp;M College ornithology (the birds of A&amp;M) and pictures of seniors listed with their nicknames.</p>
      <p>&nbsp;</p>
      <p>In 1910, the &quot;College Favorites&quot; section made its debut. The section, which remained a fixture in the book until 1973, featured pictures of cadets' girlfriends.</p>
      <p>&nbsp;</p>
      <p>Though it saw many changes in design and in its college, the Long Horn withstood the test of time. It saw the creation of new traditions, such as the first appearance of a page featuring &quot;Yells Leaders&quot; in 1913.</p>
      <p>&nbsp;</p>
      <p>And, it bore witness to the change and turmoil in the world around A&amp;M. It saw many of the students it served go off to fight in World War I. In 1920, it paid tribute to 51 of those students who never returned.</p>
      <p>&nbsp;</p>
      <p>Likewise, the yearbook and Texas A&amp;M were not immune when the Great Depression struck in the late 1920s.</p>
      <p>&nbsp;</p>
      <p>Michael T. Halbouty, 1930 Longhorn editor and Class of '30, said the Depression affected all students, many of whom had a tough time finding work once they graduated.</p>
      <p>&nbsp;</p>
      <p>Halbouty remembers traveling throughout Texas and Louisiana in an old beat-up car trying to raise enough money to cover the yearbook's production costs.</p>
      <p>&nbsp;</p>
      <p>&quot;I was dedicated to the fact that I wanted a good book and needed money to get it done,&quot; he said. &quot;I was amazed when I found out we didn't have anything. I raised hell with the school, telling them the school should pay for the book. We barely made it.&quot;</p>
      <p>&nbsp;</p>
      <p>The experience raising money proved vital to Halbouty later in life as he headed the Michael T. Halbouty Energy Company, a multimillion-dollar oil and gas company.</p>
      <p>&nbsp;</p>
      <p>&quot;It gave me a hell of a lot of experience approaching people for money,&quot; he said. &quot;At first, we didn't know what to tell people, but we learned.&quot;</p>
      <p>&nbsp;</p>
      <p>Halbouty said he was proud of his yearbook, which focuses on the future. The book features drawings of rockets, skyscrapers and cities that at the time seemed visionary. In the last 75 years those futuristic images have become commonplace.</p>
      <p>&nbsp;</p>
      <p>Halbouty said it was not uncommon for him to work on the yearbook until three or four o'clock in the morning. The tough part came when he would stay up all night working, grab an hour's sleep, and rush off to take an 8 a.m. test. But throughout it all, he managed to keep his grades up.</p>
      <p>&nbsp;</p>
      <p>For his work, Halbouty said, his 1930 yearbook was named No. 1 in the nation.</p>
      <p>&nbsp;</p>
      <p>&quot;I have a lot of emotions and a lot of time in that book,&quot; he said. &quot;I'm very proud of that volume. I know there will never be another volume like it.&quot;</p>
      <p>&nbsp;</p>
      <p>The 30s proved a rough time for the yearbook, but the Longhorn survived the Depression despite having to scrape for advertisers.</p>
      <p>&nbsp;</p>
      <p>World War II came and with it a spirit of patriotism was evident in the pages of Longhorns published during the war. The yearbooks included features on allied countries, Congressional Medal of Honor recipients and military leaders such as Gen. Douglas MacArthur.</p>
      <p>&nbsp;</p>
      <p>Between 1943 and 1945, the war interrupted publication of the Longhorn. The yearbook didn't reappear until 1946, when A&amp;M published two yearbooks - one for 1945 and one for 1946.</p>
      <p>&nbsp;</p>
      <p>The yearbook found itself at the center of a campus controversy in 1949 as students debated whether to select a more fitting name than the Longhorn.</p>
      <p>&nbsp;</p>
      <p>In an emotionally-charged election, students voted 2-1 in favor of a name change. Suggested names included &quot;Reveille,&quot; &quot;Twelfth Man,&quot; &quot;Final Review,&quot; &quot;Aggieland 1949,&quot; &quot;Bonfire&quot; and &quot;The Spirit of Aggieland.&quot; &quot;Aggieland 1949&quot; won the vote.</p>
      <p>&nbsp;</p>
      <p>The yearbook continued to grow in size. By 1954, the book had reached 485 pages. Meanwhile, the college also continued to change.</p>
      <p>&nbsp;</p>
      <p>In the 50s and 60s, the Aggieland saw Texas A&amp;M College become Texas A&amp;M University. African Americans, Hispanics and women marched across campus in step with their fellow Aggies, and the Aggieland paid tribute to young President Kennedy.</p>
      <p>&nbsp;</p>
      <p>When James Creel served as 1969 Aggieland editor, Gen. James Earl Rudder occupied the A&amp;M president's office.</p>
      <p>&nbsp;</p>
      <p>&quot;He was a remarkable man,&quot; said Creel, Class of '69. &quot;So many things you see at A&amp;M now are a direct result of the actions he took.&quot;</p>
      <p>&nbsp;</p>
      <p>At that time, Creel said, the biggest challenge facing the University was making the transition from an all-military school to one that embraced civilian students.</p>
      <p>&nbsp;</p>
      <p>As editor of the Aggieland, Creel faced a different challenge: putting together a 500-page book without the benefit of journalism experience. Creel pursued a degree in accounting.</p>
      <p>&nbsp;</p>
      <p>But, he said, the job had its rewards.</p>
      <p>&nbsp;</p>
      <p>&quot;I think the part I enjoyed the most was when the book was done, having the responsibility for completing a task and knowing it was accomplished,&quot; Creel said.</p>
      <p>&nbsp;</p>
      <p>Creel said his memories of the yearbook are probably different than most people's. When he thinks of the Aggieland, he remembers all the time and work put into producing the book.</p>
      <p>&nbsp;</p>
      <p>&quot;It was a good experience, and I wouldn't take anything for it,&quot; he said. &quot;Now that it's done, it's fun to look back and say, 'This is something I did.'&quot;</p>
      <p>&nbsp;</p>
      <p>As the University changed, so did the Aggieland. In 1974, Sherri Ellis became the first woman editor of the yearbook. In the past 20 years, all but four editors have been women. That stands in stark contrast to a time 40 years ago when women were first enrolled at Texas A&amp;M.</p>
      <p>&nbsp;</p>
      <p>In the 1964 Aggieland, the pictures of 13 undergraduate women were arranged in the shape of a question mark under the heading &quot;Undergraduate Coeds.&quot;</p>
      <p>&nbsp;</p>
      <p>The 1995 Aggieland editor, Diane Hodges, Class of '96, oversaw a staff of 43 students.</p>
      <p>&nbsp;</p>
      <p>&quot;It's such a big part of everything I do,&quot; Hodges said in a 1995 interview with Texas Aggie magazine. &quot;It seems I work harder on the Aggieland than on school. I put a lot of myself into the book. The job I have been given is to put a well-designed, well-written, accurate book together on schedule. I feel that I should give the campus the best book that is within my abilities to produce.&quot;</p>
      <p>&nbsp;</p>
      <p>Hodges said that like many editors before her, she has had to make sacrifices, but the tradeoffs are worth it for a finished, well-appointed yearbook.</p>
      <p>&nbsp;</p>
      <p>&quot;I consider this as the pinnacle of my time at A&amp;M,&quot; she said. &quot;The pinnacle isn't my degree. For me, my degree may help me get a job and will then sit on a wall. But my book, I can pick up and look at, and I can show it to potential employers.&quot;</p>
      <p>&nbsp;</p>
      <p>The journalism department celebrated the Aggieland's centennial with a banquet in September 1995. Charles Self, then head of journalism, said the centennial celebration centered on two traditions.</p>
      <p>&nbsp;</p>
      <p>&quot;The rich tradition of journalistic excellence reflected in the student publications program at Texas A&amp;M is part of the broader tradition of excellence among all students interested in communications,&quot; he said.</p>
      <p>&nbsp;</p>
      <p>The 2000 yearbook, which captured the 1999 Aggie Bonfire collapse, was a Pacemaker finalist. The Pacemaker is considered campus journalism's highest honor. Alicen Swift, Class of '00, served as its editor.</p>
      <p>&nbsp;</p>
      <p>&quot;Receiving Pacemaker recognition was a great honor for the book,&quot; Swift said. &quot;It was the year Bonfire fell, which was a tough year for the staff and the students. We worked hard on making a book that captured the emotion of that year, and the Pacemaker recognition was a great testament to the quality of the book.&quot;</p>
      <p>&nbsp;</p>
      <p>Swift said her time on the staff was an amazing experience.</p>
      <p>&nbsp;</p>
      <p>&quot;Being a part of the yearbook is one of my favorite memories,&quot; she said. &quot;It was a great way to get involved. I learned a lot about the school on the social aspect, yet it was also an educational experience.&quot;</p>
      <p>&nbsp;</p>
      <p>Amber Benson-Link, Class of '99, was editor of the 1998 Aggieland.</p>
      <p>&nbsp;</p>
      <p>&quot;The stress of being the editor of the Aggieland is not so much about producing the actual book, but more about the fact that you are responsible for recording the history of your alma mater for posterity,&quot; Benson-Link said. &quot;I'm proud of the 1998 Aggieland and remember my time as editor as a great experience. I hope the book brings the same fond memories to anyone who opens their dusty yearbook so they can return to Aggieland once again.&quot;</p>
      <p>&nbsp;</p>
      <p>The 2003 book was the 101st volume, and Robert Wegener, Aggieland adviser, said that as far as he knows, at 800 pages it is the largest yearbook in the nation.</p>
      <p> <br />
        - Adapted from articles by Mark Evans, writing for Texas Aggie magazine, and Beth Barron, writing for the 2003 Aggieland</p>
  </div>
</div>