<div class="hero-unit">
<h1>Aggieland Yearbook</h1>
</div> <!-- end center hero-unit -->

<% if signed_in? %>
	<div class="homepage_update_content">
		<h1>Current News</h1>
		<p>
			<%= HomepageUpdate.last.content unless HomepageUpdate.last.nil? %>
		</p>
	</div>
<%else%>

<h2>What's New</h2>
<p>If you are interested in writing for the 2013 Aggieland Yearbook, click <%= link_to "here", employment_path %> for an application.</p>
<p>Online ordering now available! Order through <a href="https://secure.touchnet.com/C21490_ustores/web/store_main.jsp?STOREID=66">this website</a> for a more convenient way to purchase your part of Aggie history.</p>
<p>
	Texas A&#38M's 2011 Aggieland Yearbook editors and staff members won 18 Gold Circle Awards, given by the Columbia Scholastic Press Association to recognize superior work by individual student journalists. Editor-in-chief Kalee Bumguardner, a graduate student in agricultural leadership, education and communications, and photo editor Doug Klembara, Class of 2011, received a first place award for a yearbook spread in the people category, and Bumguardner, Klembara and Adrian O'Hanlon, Class of 2011, received first place for sports page spread design. Beau Holder, a junior sociology major, earned first for yearbook sports reporting. Klembara received a second-place award for his academic photo, and Austin Hattox, junior economics major, received second for academic writing. Bumguardner and Klembara took third place in the category of academic spread multi-page presentation, Klembara received third for his photo portfolio, and Bumguardner received a certificate of merit for her yearbook design portfolio. Editors and staff members received certificate of merit awards in the categories of feature photo, sports action photo, sports spread, division page design, academic spread design, organization spread design, student life spread, opening and closing spread design, table of contents and title page design. The Columbia Scholastic Press Association's 29th Gold Circle Awards program for yearbook and digital media attracted 4,956 entries from student writers, editors, designers and photographers throughout the U.S.
</p>
<%end%>
<%= link_to image_tag("rails.png",alt: "Rails"), 'http://rubyonrails.org/' %>