<% provide(:title, 'Ordering') %>
<a href="https://secure.touchnet.com/C21490_ustores/web/store_main.jsp?STOREID=66">Online Purchase</a>
<h1>General Information for Purchasing</h1>
<p>Stop by our business office in Suite L400 of the Memorial Student Center, call (979) 845-2696 and order one with a credit card, or order <a href="https://secure.touchnet.com/C21490_ustores/web/store_main.jsp?STOREID=66">online</a>.</p>
<table cellingspacing="1" border="1">
	<tbody>
		<tr cellingspacing="1">
			<td></td>
			<td>2013 Aggieland</td>
			<td>2012 Aggieland</td>
			<td>Previous Aggieland Volumes<br>(If available)</td>
		</tr>
		<tr cellingspacing="1">
			<td align="top">Book Price</td>
			<td>$75</td>
			<td>$85</td>
			<td>$85</td>
		</tr>
		<tr cellingspacing="1">
			<td align="top">Distribution Options</td>
			<td>Mail only</td><td>Mail only</td>
			<td>Mail or pickup</td>
		</tr>
		<tr cellingspacing="1">
			<td align="top">Shipping &amp; Handling</td>
			<td>Included in the price</td>
			<td>$10</td>
			<td>$10 if mailed<br>$0 if pickup</td>
		</tr>
		<tr cellingspacing="1">
			<td align="top">Tax Rate</td>
			<td>8.25%</td><td>8.25%</td>
			<td>8.25%</td>
		</tr>
		<tr cellingspacing="1">
			<td align="top">Total Charge</td>
			<td>$81.19</td>
			<td>$102.84</td>
			<td>$102.84 (if mailed)<br>$92.01 (if pickup)</td>
		</tr>
	</tbody>
</table>
<p>Yearbook charges are refundable in full during the semester in which payment is made. Thereafter, no refunds will be made on canceled orders. Yearbooks must be picked up within one year from the time distribution begins, usually in October. (Yearbooks will not be held, nor will they be mailed, without necessary fees having been paid. Refunds will not be made on books not picked up within one year of the starting distribution date.) Refund policies contained herein reflect policies in effect at the time of publication and are subject to change.</p>
