<% provide(:title,'Portraits') %>
<h1>General Informaion for Graduation Portraits</h1>
<p>All seniors and graduating graduate students are encouraged to get their portraits made for the Aggieland yearbook.</p>
<p>Yearbook portraits for the 2012 Aggieland were taken through Oct. 5-Nov.4 and Feb. 13-20.</p>
<p>Dates for Texas A&#38M's 2013 yearbook will be announced in Aug. 2012.</p>