<% provide(:title,'Privacy Policy') %>
<h1>Privacy Policy</h1>
<p>Aggieland Yearbook Office respects your privacy. This site does not collect personal information about visitors. In particular, we do not use "cookies" to collect information.</p>
<p>Personal information that you provide via e-mail or through other online means will be used only for purposes necessary to serve your needs, such as responding to an inquiry or other request for information. This may involve redirecting your inquiry or comment to another person or department better suited to meeting your needs.</p>
<p>We do, however, use server logs to collect information concerning your Internet connection and general information about your visit to our Web site. This information may be used to analyze trends; to create summary statistics for the purpose of determining technical design specifications; and to identify system performance or problem areas.</p>
<p>This means we sometimes acquire, record and analyze portions of the data that is entered into, stored on, and/or transmitted through this site by you.</p>
<p>If you have any questions about this privacy statement, the practices of this site, or your use of this Web site, please contact the Director of Student Media, Texas A&#38M University or through regular mail at:</p>
<p>
	Student Media<br>
	1111 TAMU<br>
	The Grove (Building# 8901)<br>
	College Station, TX 77843-1111
</p>