<%provide(:title,'Sections') %>
<h1>Sections</h1>
<p><strong>Greeks:</strong></p>
<p>From Alpha to Omega, Multicultural to Interfraternity, Texas A&#38M University has over 50 Greek organizations. It’s the desire of the Aggieland to highlight the best of our Greeks starting from the events they organize in order to unite the students of Texas A&#38M with service throughout our community.</p>
<p><strong>Sports:</strong></p>
<p>Texas A&#38M’s tradition of the Twelfth Man started right on the gridiron, and ever since E. King Gill supported the Fighting Texas Aggies, a constant wave of support from students, both current and former, has helped keep the Aggie spirit alive. The sports section is another way for students to not only recap eventful games, but also share in a love of the 12th Man tradition and Texas A&#38M.</p>
<p><strong>Corps of Cadets:</strong></p>
<p>With over 1,500 motivated and energized Cadets, it is the goal of the Aggieland to portray the core of the Corps and reveal what it is really like to live a military regimented life style.</p>
<p><strong>Academics:</strong></p>
<p>The Academics section provides insight on Texas A&#38M University’s traditional approach to education. This section features professors who exceed expectations and exhibit outstanding qualities as lecturers, researchers, and leaders. Focusing on the continual growth of Texas A&#38M as an academic institution, the Academics section highlights developments in technology, facilities, and programs that enhance academic excellence.</p>
<p><strong>Other Education:</strong></P>
<p>Although Texas A&#38M focuses on academics, sports, and Greek life, the importance of the other education received is also highly valuable. The Other Education section provides a brief glimpse into the world of student expression outside the classroom through clubs, organizations, and events.</p>