<footer class="footer">
  <small>
    <a href="http://www.tamu.edu">Texas A&#38M University</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
      <li><%= link_to "Contact", '#' %></li>
    </ul>
  </nav>
</footer>